.listening-bar {
    bottom: 0;
    display: flex;
    width: 100%;
    height: 90px;
    position: fixed;
    z-index: 1;
    background-color: #181818;
    align-items: center;
    border: #282828 solid 1px;
}

.listening-bar-container {
    display: flex;
    width: 100%;
    margin: auto 30px;
    justify-content: space-between;
    align-items: center;

}

.volume-bar {
    width: 200px;
}

.controller-menu {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.song-progress-bar {
    width: 200px;
}

.controller-menu .buttons a {
    color: #b3b3b3;
}

.play-pause-button {
    font-size: 2.2rem;
}

.controller-menu .buttons a:hover {
    color: white;
    scale: 105%;
}

.controller-menu .buttons a:active {
    color: #c5c5c5;
    scale: 95%;
}