.display-playlist {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #121212;
  min-height: calc(100vh - 90px);
  height: min-content;
  width: calc(100vw - 250px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.display-playlist-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  margin-bottom: 100px;
  z-index: 0;
}

.display-playlist-header {
  height: 30vh;
  max-height: 400px;
  min-height: 340px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: none;
  overflow: hidden;
  padding-bottom: 24px !important;
  position: relative;
  width: 100%;
  align-items: end;
}

.display-playlist p {
  position: relative;
  font-size: 1.5rem;
}

.background-fade {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0, #121212 100%),
    var(--background-noise);
  height: 232px;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.display-playlist-tracks {
  position: relative;
  width: 100%;
}

.track {
  grid-gap: 16px;
  padding: 0 16px;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: [index] 16px [first] 6fr [var1] 4fr [var2] 3fr [last] minmax(
      120px,
      1fr
    );
  grid-template-rows: repeat(1, 1fr);
  color: white;
  border: 1px solid transparent;
  border-radius: 4px;
  height: 56px;
  position: relative;
}

.track:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}

.track-img {
  width: 40px;
  height: 40px;
}

.track-album {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.track-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.playlist-img {
  margin-inline-end: 24px;
  align-self: flex-end;
  width: 232px;
  height: 232px;
}
.playlist-img img {
  width: inherit;
  height: inherit;
}

.playlist-tracks-columns-header {
  color: #b3b3b3;
  grid-template-columns: [index] 16px [first] 6fr [var1] 4fr [var2] 3fr [last] minmax(
      120px,
      1fr
    );
  grid-template-rows: repeat(1, 1fr);
  display: grid;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  color: #b3b3b3;
  height: 36px;
  column-gap: 16px;
  padding: 0 16px;
  justify-content: center;
  align-items: center;
}
