.display-playlist {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #121212;
  min-height: calc(100vh - 90px);
  height: min-content;
  width: calc(100vw - 250px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.display-playlist::-webkit-scrollbar {
  width: 16px;
}

.display-playlist::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10rem;
  border: 1px solid #fff;
}

.display-playlist::-webkit-scrollbar-track {
  position: absolute;
  right: -3rem;
  top: -50rem;
  background: transparent;
}

.display-playlist::-webkit-scrollbar-track-piece {
  background: transparent;
}

.display-playlist-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 100px;
  z-index: 0;
}

.display-playlist-header {
  height: 30vh;
  max-height: 400px;
  min-height: 340px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: none;
  overflow: hidden;
  padding-bottom: 24px !important;
  position: relative;
  width: 100%;
  align-items: flex-end;
}

.background-fade {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0, #121212 100%),
    var(--background-noise);
  height: 232px;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.display-playlist-tracks {
  position: relative;
  width: 100%;
}

.track {
  grid-gap: 16px;
  padding: 0 16px;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: [index] 16px [first] 6fr [var1] 4fr [var2] 3fr [last] minmax(
      120px,
      1fr
    );
  grid-template-rows: repeat(1, 1fr);
  border: 1px solid transparent;
  color: #b3b3b3;
  border-radius: 4px;
  height: 56px;
  position: relative;
  font-size: 0.85rem;
}

.track:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}

.track:hover .track-album {
  color: white;
}

.track-img {
  width: 40px;
  height: 40px;
}

.track-album {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #b3b3b3;
  font-size: 0.8rem;
}

.track-album:hover {
  text-decoration: underline;
}

.track-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
  color: white;
}

.track-title span:hover {
  text-decoration: underline;
}

.track-title img {
  margin-right: 16px;
}

.playlist-img {
  margin-inline-end: 24px;
  align-self: flex-end;
  width: 232px;
  height: 232px;
}
.playlist-img img {
  width: inherit;
  height: inherit;
}

.playlist-tracks-columns-header {
  color: #b3b3b3;
  grid-template-columns: [index] 16px [first] 6fr [var1] 4fr [var2] 3fr [last] minmax(
      120px,
      1fr
    );
  grid-template-rows: repeat(1, 1fr);
  display: grid;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  color: #b3b3b3;
  height: 36px;
  column-gap: 16px;
  padding: 0 16px;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.playlist-tags {
  line-height: normal;
  height: 100%;
  width: 100%;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-pack: end;
  word-break: break-word;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;
}

.playlist-tags span {
  font-size: 0.8rem;
}

.playlist-tags .playlist-title {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  line-height: 1;
  font-size: 2.5rem;
  margin-top: 8px;
  color: white;
}

.playlist-tags .playlist-description {
  color: #b3b3b3;
  font-size: 0.8rem;
}

.playlist-tag {
  font-size: 0.875rem;
  color: #fff;
}

.playlist-tag::before {
  content: "•";
  margin: 0px 4px;
}

.playlist-tag-etc {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
}

.playlist-main-content {
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.display-playlist-header .backgroundColor {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.display-playlist-header .backgroundColor1 {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background: linear-gradient(transparent 0, rgba(0, 0, 0, 0.5) 100%),
    var(--background-noise);
}

.track-number i:hover {
  color: #fff;
}
