.home {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #121212;
  height: calc(100vh - 90px);
  width: calc(100vw - 250px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-container {
  position: relative;
  align-items: start;
  justify-content: start;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 0;
}

.background-fade-home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0, #121212 100%),
    var(--background-noise);
  height: 332px;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.home-main {
  position: relative;
  top: 90px;
  margin: 30px auto;
  width: 95%;
  height: fit-content;
}

.home-main p {
  position: relative;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.home-main-buttons {
  display: grid;
  row-gap: 15px;
  column-gap: 20px;
}

@media screen and (max-width: 1177px) {
  .home-main-buttons {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1178px) {
  .home-main-buttons {
    grid-template-columns: repeat(3, 1fr);
  }
}

.home-main-buttons .button {
  display: flex;
  padding: 0 15px 0 0;
  align-items: center;
  justify-content: space-between;
  background-color: hsla(0, 0%, 100%, 0.1);
  width: 100%;
  height: 80px;
}

.home-main-buttons .button .wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.home-main-buttons .button:hover {
  background-color: rgba(66, 66, 66, 0.6);
  transition: 0.3s;
}

.home-main-buttons .button .icon-heart {
  display: flex;
  color: var(--text-color);
  background: linear-gradient(
    to left top,
    rgba(179, 214, 207, 0.8),
    rgba(76, 24, 240, 0.8)
  );
  transition: 0.3s;
  padding: 3px;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  border-radius: 3px;
  font-size: 1.5rem;
}

.home-main-buttons .button .button-text {
  margin-left: 20px;
  color: white;
}

.home-main-buttons .button .button-play-icon {
  display: none;
  transition: 0.3s;
}

.home-main-buttons .button:hover .button-play-icon {
  background-color: #1fdf64;
  display: flex;
  border-radius: 25px;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: black;
}

.home-main-buttons .button .button-play-icon i {
  scale: 150%;
}

.home-main-buttons .button .button-play-icon:hover {
  scale: 105%;
  transition: 0.3s;
}
