.home {
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to top, #121212 0% 60%, #1d0d46 100%);
  height: calc(100vh - 90px);
  width: calc(100vw - 250px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-container {
  position: relative;
  align-items: start;
  justify-content: start;
  width: 95%;
  height: calc(90% - 100px);
  margin: auto;
  z-index: 1;
}

.home-container p {
  position: relative;
  font-size: 1.5rem;
}

.home-main {
  position: relative;
  margin: 30px 0;
  width: 100%;
  height: fit-content;
}

.home-main-buttons {
  display: grid;
  row-gap: 15px;
  column-gap: 20px;
}

@media screen and (max-width: 1177px) {
  .home-main-buttons {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1178px) {
  .home-main-buttons {
    grid-template-columns: repeat(3, 1fr);
  }
}

.home-main .button {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(43, 42, 46, 0.3);
  width: 100%;
  height: 80px;
}

.home-main .button:hover {
  background-color: rgba(66, 66, 66, 0.6);
  transition: all ease 0.6s;
}

.home-main .button .icon-heart {
  display: flex;
  color: var(--text-color);
  background: linear-gradient(
    to left top,
    rgba(179, 214, 207, 0.8),
    rgba(76, 24, 240, 0.8)
  );
  transition: all ease 0.6s;
  padding: 3px;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  border-radius: 3px;
  font-size: 1.5rem;
}

.home-main .button .button-text {
  margin-left: 20px;
  color: white;
}
