.navbar {
  position: relative;
  width: 250px;
  height: 280px;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.navbar-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0px 30px;
  border-bottom: #282828 solid 1px;
}

.nav-link {
  align-items: center;
  display: flex;
  color: #b3b3b3;
  font-weight: 700;
  transition: 0.3s;
  padding: 6px 0;
  column-gap: 10px;
}

.nav-icon {
  font-size: 1.5rem;
  margin-right: 3px;
  transition: 0.3s;
}

.nav-icon-plus {
  background: #b3b3b3;
  width: 24px;
  height: 24px;
  color: #2d2d2d;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 3px;
  margin-right: 5px;
  border-radius: 2px;
  transition: 0.3s;
}

.nav-link:hover .nav-icon-plus {
  background: white;
  transition: 0.3s;
}

.nav-link:hover {
  color: var(--text-color);
}

.nav-icon-heart {
  display: flex;
  background: linear-gradient(
    to left top,
    rgba(179, 214, 207, 0.8),
    rgba(76, 24, 240, 0.8)
  );
  padding: 3px;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  border-radius: 2px;
  font-size: 0.8rem;
}

.nav-link:hover .nav-icon-heart {
  color: var(--text-color);
  background: linear-gradient(
    to left top,
    rgba(179, 214, 207, 1),
    rgba(76, 24, 240, 1)
  );
  transition: 0.3s;
}

.active-link {
  color: white;
}
