.playlists {
    position: fixed;
    width: 250px;
    min-height: 230px;
    height: 560px;
    background-color: black;
    left: 0;
    top: 280px;
    overflow-y: auto;
}

.playlists-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px 30px;
}

.playlist-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    align-items: center;
    display: flex;
    color: #b3b3b3;
    font-weight: 700;
    transition: .3s;
    padding: 6px 0;
}

.playlist-name:hover {
    color: white;
}